<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smpnegeri2sayung">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="SMP NEGERI 2 SAYUNG"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SMPNEGERI2SAYUNG">
        <activity
            android:name=".lain"
            android:exported="true" />
        <activity
            android:name=".wasana"
            android:exported="true" />
        <activity
            android:name=".ultah"
            android:exported="true" />
        <activity
            android:name=".out"
            android:exported="true" />
        <activity
            android:name=".teacher"
            android:exported="true" />
        <activity
            android:name=".keagamaan"
            android:exported="true" />
        <activity
            android:name=".koperasi"
            android:exported="true" />
        <activity
            android:name=".kamar_mandi"
            android:exported="true" />
        <activity
            android:name=".lab_komputer"
            android:exported="true" />
        <activity
            android:name=".lab_ipa"
            android:exported="true" />
        <activity
            android:name=".mushola"
            android:exported="true" />
        <activity
            android:name=".perpustakaan"
            android:exported="true" />
        <activity
            android:name=".ruang_kelas"
            android:exported="true" />
        <activity
            android:name=".staff"
            android:exported="true" />
        <activity
            android:name=".guru"
            android:exported="true" />
        <activity
            android:name=".ekstrakulikuler"
            android:exported="true" />
        <activity
            android:name=".guru_staff"
            android:exported="true" />
        <activity
            android:name=".sarana"
            android:exported="true" />
        <activity
            android:name=".galeri"
            android:exported="true" />
        <activity
            android:name=".visi_misi"
            android:exported="true" />
        <activity
            android:name=".profil"
            android:exported="true" />
        <activity
            android:name=".open"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>